*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.appStoreStyle{
  border: 1px solid black;
  text-align: center;

} 

.tabButtonsStyle button{
     width: auto;
     padding: 5px;
     border-radius: 5px;
     color: #171f46;
     background: #ffff;
  }

  .tabButtonsStyle button:hover{
    background: green;
  }

.appBoxStyling{
  
  display:inline-flex;
  
}
.appStyling{
  width: 5rem;
  text-align: center; 
}
.appStyling img{
  height: 75px;
  width: 75px;
  border-radius: 15px;
  margin: 0 auto; 
}